<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KakTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KakawKOM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A9E039E13197418004D9FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AB80A3E119464C700218BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFF8E721319608500870A1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
